body { 
    font-family: sans-serif; 
    display: grid; 
    place-items: center;
    background-color: #000;
    margin: 0; 
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4vw;
    margin: auto;
    padding: 18px 0;
    background-color: #111111;
    border-bottom: solid 1px #292929;
}
header a {
    text-decoration: none;
    color: #fff;
    padding: 18px 16px;
}
header a:hover {
    border-bottom: solid 2px #0056b3;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
.container {
    background: #050505;
    align-items: center;
    display: flex;
    height: 200px;
    padding: 2rem 3rem;
    border-radius: 12px; 
    box-shadow: 0 10px 25px rgba(1, 73, 254, 0.5); 
}
#clock {
    font-size: 3.5rem;
    color: #f7f7f7;
}
h1 { 
    color: #f7f7f7; 
}
.reading { 
    font-size: 1.2rem; 
    color: #0056b3; 
    font-weight: bold; 
    padding: 10px;
}
.label { 
    font-size: 1.2rem;
    padding: 10px;
    color: #f9f9f9; 
}
@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
    
}