body { 
    font-family: sans-serif; 
    display: grid; 
    place-items: center;
    background-color: #000;
    margin: 0; 
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4vw;
    margin: auto;
    padding: 18px 0;
    background-color: #111111;
    border-bottom: solid 1px #c8c8c8;
}
header a {
    text-decoration: none;
    color: #fff;
    padding: 18px 16px;
}
header a:hover {
    border-bottom: solid 2px #0056b3;
}
#clock {
    font-size: 4.5rem;
    color: #f7f7f7;
}
.container { 
    background: #111111;
    margin: 8vh auto;
    padding: 2rem 3rem;
    border-radius: 12px; 
    box-shadow: 0 10px 25px rgba(1, 73, 254, 0.5); 
}
h1 { 
    color: #f7f7f7; 
}
.reading { 
    font-size: 1.2rem; 
    color: #0056b3; 
    font-weight: bold; 
}
.label { 
    font-size: 1.2rem; 
    color: #f9f9f9; 
}