<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sensor readings</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>Sensor Dashboard</h1>
            <p>
                <span class="label">Temperature:</span>
                <span class="reading" id="temp">...</span>
                <span class="label">&deg;C</span>
            </p>
            <p>
                <span class="label">Humidity:</span>
                <span class="reading" id="hum">...</span>
                <span class="label">%</span>
            </p>
        </div>

        <script>
            function updateReadings() {
                fetch('/data')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('temp').innerText = data.temperature;
                        document.getElementById('hum').innerText = data.humidity;
                    })
            }
            updateReadings();
            setInterval(updateReadings, 3000);
        </script>
    </body>
</html>
