<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sensor readings</title>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"> -->
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <header>
            <a href="/">Home</a>
            <a href="/containers">Containers</a>
            <a href="/sensors">Sensors</a>
            <a href="/notes">Notes</a>
            <a href="/vault">Personal</a>
        </header>
        <div class="container">
            <span id="clock"></span>
            <script>
                function startTime() {
                    const today = new Date();
                    let h = today.getHours();
                    let m = today.getMinutes();
                    let s = today.getSeconds();
                    m = checkTime(m);
                    s = checkTime(s);
                    document.getElementById('clock').innerHTML =  h + ":" + m + ":" + s;
                    setTimeout(startTime, 1000);
                }
                function checkTime(i) {
                    if (i < 10) {i = "0" + i};
                    return i;
                }
                window.onload = startTime;
            </script>
        </div>
        <div class="container">
            <h1>DHT11 Sensor Readings</h1>
            <p>
                <span class="label">Temperature:</span>
                <span class="reading" id="temp">...</span>
                <span class="label">&deg;C</span>
            </p>
            <p>
                <span class="label">Humidity:</span>
                <span class="reading" id="hum">...</span>
                <span class="label">%</span>
            </p>
        </div>

        <script>
            function updateReadings() {
                fetch('/data')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('temp').innerText = data.temperature;
                        document.getElementById('hum').innerText = data.humidity;
                    })
            }
            updateReadings();
            setInterval(updateReadings, 3000);
        </script>
    </body>
</html>
